{% extends "material/base.html" %}
{% block content %}
<div class="showcase container purple lighten-3">
    <div class="row">
        <div class="col 12 m10 offset-ml center">
            <h2>Inventory Aging Predictor </h2>
            <p>ML Web App</p>
            <a href="{{url_for('index')}}" class="btn btn-small purple white-text waves-effect waves-dark">Reset</a>
            <a href="{{url_for('preview')}}" class="btn btn-small white purple-text waves-effect waves-dark">View Dataset</a>
        </div>

    </div>
</div>
<section class="section section-signup">
        <div class="container">
          <div class="row">
           
            <div class="col s12 m4">
              <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0">
                <form action="{{ url_for('analyze')}}" method="POST">
                  <div class="input-field">
                   <!-- <p class="range-field"> -->
                        <input type="text" id="invidInput" name="inv_id" >
                    <label for="Inventory Id">Inventory ID</label>
                    
                  </div>
                   <div class="input-field">
                   <p class="range-field">
                        <input type="text" id="categoryInput" name="category"> 
                    <label for="Category">Category</label>
                  </div>
                   <div class="input-field">
                   <p class="range-field">
                        <input type="text" id="companyInput" name="company">
                    <label for="">Company</label>
                  </div>
                  <div class="input-field">
                    <p class="range-field">
                         <input type="text" id="targaudInput" name="targaud">
                     <label for="">Target Audience</label>
                   </div>
                   
                  <div class="input-field">
                   <p class="range-field">
                        <input type="range" id="noofitemsInput" name="noofitems" min="0" max="100" value="0"
                  step="1">
                    <label for="">Number of items</label>
                  </div>
                  <div class="input-field">
                    <p class="range-field">
                         <input type="range" id="priceInput" name="price" min="0" max="120000" value="0"
                   step="200">
                     <label for="">Selling Price</label>
                   </div>
                   <div class="input-field">
                    <p class="range-field">
                         <input type="range" id="yearInput" name="year" min="2013" max="2018" value="2013"
                   step="1">
                     <label for="">Year of release</label>
                   </div>
                   <div class="input-field">
                    <p class="range-field">
                         <input type="range" id="demandfacInput" name="demandfac" min="0" max="100" value="0"
                   step="1">
                     <label for="">Demand Factor</label>
                   </div>
                   <div class="input-field">
                    <p class="range-field">
                         <input type="range" id="profitInput" name="profit" min="0" max="20" value="0"
                   step="0.1">
                     <label for="">Net Profit(%)</label>
                   </div>
                  
                  
                  <input type="submit" value="Predict" class="btn btn-small purple waves-effect waves-light btn-extend">
                  <input type="reset" value="Clear" class="btn btn-small white waves-effect waves-light btn-extend">
                </form>
              </div>
            </div>
             <div class="col s12 m4 offers">
                     <div class="card-panel purple lighten-4 grey-text text-darken-4 z-depth-0">
                         
                           <p>Inventory id: {{ inv_id }}</p>
            <p>Category: {{ category }}</p>
            <p>Company: {{ company}} </p>
            <p>Target audience: {{ targaud}}</p>
            <p>Number of items: {{ noofitems}}</p>
            <p>Selling Price: {{ price}}</p>
            <p>Year of release: {{ year}}</p>
            <p>Demand Factor: {{ demandfac}}</p>
            <p>Profit(%): {{ profit}}</p>
            
         
              
            </div>
                     </div>
                     
          
    
            
    
             <div class="col s12 m4 offers">
                <h5>Output</h5>
                  <div class="collection" role="alert">
                      <p  class="collection-item active purple">Suggestions:</p>
                    <p  class="collection-item active purple">{{ result_prediction1 }} </p>
                    <p  class="collection-item active purple">{{ result_prediction2 }} </p>
                    <p  class="collection-item active purple">{{ result_prediction3 }} </p>
                </div>       				
                
              
              </div>
              
            </div>
          </div>
        </div>
      </section>




      {% endblock%}

      {% block scripts %}
      {{super()}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
      <!-- <script type="text/javascript">
           document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('select');
          var instances = M.FormSelect.init(elems, options);
        });
      </script> -->
      
      <script>
          // Or with jQuery
      
        $(document).ready(function(){
          $('select').formSelect();
        });
      </script>
      
      {% endblock %}